@import "tailwindcss";

@theme {
  --color-primary: #62567E;
  --color-secondary: #48317C;
  --color-accent: #B6A5DE;
  --font-family-instrument: 'Instrument Sans', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: var(--font-family-instrument);
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}
